@layer tailwind {
  @tailwind base;
}
@tailwind components;
@tailwind utilities;

/* background: #11998e;  fallback for old browsers */
/* background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  Chrome 10-25, Safari 5.1-6 */
/* background: linear-gradient(to right, #38ef7d, #11998e); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
:root {
  --toastify-icon-color-success: #14b8a6;
  --toastify-icon-color-error: #14b8a6;
}

.Toastify__toast-body {
  font-weight: 600;
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
}